
body{
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    align-items: center;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.header,
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo,
.header li {
    flex-shrink: 0;
}

.hero {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
}

.hero-content {
    flex: 0
}

.hero-content,
.hero-image {
    flex-basis: 450px;
    height: 250px;
    flex-shrink: 0;
}

.hero-image {
    background-color: #696a6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: none;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
}

.info-message {
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    gap: 50px;
    margin-top: 50px;

}

.card {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.cards p {
    text-align: center;
}

.cards > div {
    width: 150px;
}

.quote {
    padding: 50px 350px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    flex-shrink: 0;
    width: 700px;
    align-self: center;
}

.quote span {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 400px;
    width: 300px;
}

.action {
    margin: 100px 200px;
    background: #3882F6;
    border-radius: 10px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.action span {
    font-weight: bold;
    font-size: 20px;
    flex-shrink: 0;
}

.action p {
    margin: 0;
    flex-shrink: 0;
}

.action button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    flex-shrink: 0;
}

.action-text {
    flex-shrink: 0;
}
